<footer>
  <div class="container">
    <p>&copy; <%= new Date().getFullYear() %> Mentorship STEM. All rights reserved.</p>
    <p>
      <a href="https://t.me/STEM0mentorship" target="_blank">Telegram</a> |
      <a href="https://t.me/stemship" target="_blank">Telegram</a> |
      <a href="https://tiktok.com/@stemship" target="_blank">TikTok</a> |
      <a href="https://facebook.com/stemmentorship" target="_blank">Facebook</a>
    </p>
  </div>
</footer>
